<!--The content below is only a placeholder and can be replaced.-->
<p>Display event : {{displayEvent | json}}</p>

<div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar 
    [options]="calendarOptions" 
    (eventClick)="eventClick($event.detail)"
    [(eventsModel)]="events"></ng-fullcalendar>
</div>
<div *ngIf="isInstructor" class="container" >
        <p class="form-title">Utworz lekcje</p>
        <div class="form-group" style="text-align: center;">
          <input type="text" id="email" [(ngModel)]='email' placeholder="Email">
          <br>
          <input type="text" id="data" [(ngModel)]='date' placeholder="Długość minimalna minimalna lekcji" placeholder="Data (w formacie 2018-07-5T12:30:00)">
          <br>
          <input type="number" id="min_lenght" [(ngModel)]='length' placeholder="Długość minimalna lekcji (w minutach)">
          <br>
          <button id="lekcja_dodana" value="Dodaj lekcję" (click)="addLesson(email,date,length)" class="btn btn-success btn-sm">Dodaj lekcję</button>
         </div>
</div>

<router-outlet></router-outlet>
